@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
:root {
  --bg-dark: #1a2f3a;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 12px;
  background: var(--bg-dark);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app h1 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#app h1 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 289px;
  height: 52px;
  background-color: #ffffff;
  color: #272727;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -3px;
  z-index: -1;
  position: relative;
  left: -63px;
  top: -10px;
}

.ranking {
  list-style: none;
  width: 342px;
  margin: 0 auto;
  padding: 0;
  margin-top: -10px;
}

.ranking__char {
  display: flex;
  justify-content: flex-start;
  background: #fff;
  padding: 16px 18px;
  position: relative;
}
.ranking__char:hover .char__percentuals{
  display: flex;
}
.ranking__char .char__percentuals {
  position: absolute;
  display: none;
  right: -174px;
  height: 49px;
  background: #f8f7f7;
  margin-top: -25px;
  top: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 1;
  padding: 0px 11px;
}
.ranking__char .char__percentuals:before {
  width: 100%;
  height: 18px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #ba3638;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}
.ranking__char .char__percentuals:after {
  width: 11px;
  height: 19px;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5.5px;
  left: -5.5px;
  background: url(../images/arrow_percentuals.png) no-repeat center;
  z-index: -1;
}

.ranking__char .char__percentuals .separator{
  height: 100%;
  width: 1px;
  background: #8c8b8b;
  margin: 0px 11px;
}

.ranking__char .char__percentuals>div>.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f7f7;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.25px;
  background: #ba3638;
}

.ranking__char .char__percentuals>div>.value {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #909090;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2.4px;
}

.ranking__char:nth-child(even) {
  background: #f2f1f1;
}

.ranking__char:hover {
  cursor: pointer;
  background: #ba3638;
}

.ranking__char:hover .char__info h2 {
  color: #f2f1f1;
}

.ranking__char:hover .char__info h3 {
  color: #330d0e;
}

.ranking__char:hover .char__image img {
  border-color: #fff;
}

.char__info {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 82px;
  margin-left: 4px;
}

.char__info h2 {
  color: #ba3638;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.45px;
  margin: 0;
}

.char__info h3 {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3px;
  margin: 0;
  margin-bottom: 5px;
}

.char__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.char__image:before, .char__image:after {
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.char__image:after {
  content: attr(data-position);
  font-size: 14px;
  font-weight: 700;
  width: 20px;
  height: 20px;
  text-align: center;
}

.char__image::before {
  content: "";
  border: 1px solid #656363;
  background-color: #ffffff;
  border-radius: 100%;
  letter-spacing: -1.4px;
  width: 20px;
  height: 20px;
}

.char__image img {
  margin: 0 auto;
  border: 4px solid #ba3638;
  object-fit: cover;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  margin-right: 16px;
}